# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:

* List popular languages for Data Science
* List commonly used libraries in Data Sicience
* List Open Source Development Tools used in Data Science
* Arithmetic expression to multiply and add integers.
* Arithmetic expression to convert 200 minutes to hours

Some of the popular languages that Data Scientists use are:

1. Python
2. R
3. Scala
4. Julia
5. Java
6. C++

Some of the commonly used libraries used by Data Scientists include:

1. TensorFlow
2. Numpy
3. SciPy
4. Pandas
5. Matplotlib
6. Keras
7. PyTorch

| Data Science Tools |
| ------------------|
| RStudio |
| Apache Spark |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

In [7]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [6]:
# This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author
Carlos Pereira